<h1> Wilkommen to the Artists Page!</h1>
<br>
<h2>Here is the list of all Artists:</h2>
<br>
<% @all_artists.each do |artist|%>
    <a href="/artists/<%=artist.slug%>"<h4><%= artist.name%></h4></a><br>
<% end %>    